name: Test and Deploy Code to Rorcorb control room

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      
      - name: Install Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: "3.10"
          auto-update-conda: true
          channels: conda-forge
    
      - name: Update Conda environment
        run: conda env update --file conda.yaml --name myenv


      - name: Install RCC
        run: |
          curl -o rcc https://downloads.robocorp.com/rcc/releases/v17.18.0/linux64/rcc
          chmod +x rcc
          sudo mv rcc /usr/local/bin/

      - name: Log in to Robocorp
        run: |
          rcc configure credentials ${{ secrets.ROBOCORP_ACCESS_CRED }} --account ${{ secrets.ROBOCORP_USER_ACCOUNT_ID }}

      - name: Check if Robocloud Process Exists
        id: check_process
        run: |
          # Check if the process exists using rcc command
          # Try to create the Robocloud process using rcc command
          # If it fails due to the robot already existing, capture the error message
          ROBOT_CREATION_OUTPUT=$(rcc cloud new -r ${{ secrets.ROBOCORP_ROBOT_ID }} -w ${{ secrets.ROBOCORP_WORKSPACE_ID }} --json 2>/dev/null || true)
          if echo "$ROBOT_CREATION_OUTPUT" | grep -q "ROBOT_WITH_SAME_NAME_ALREADY_EXISTS"; then
            echo "Robot with the same name already exists."
            echo "name=exists::true" >> $GITHUB_OUTPUT
          else
            echo "name=exists::false" >> $GITHUB_OUTPUT
          fi

      - name: Create Robocloud Process if Not Exist
        id: create_robot
        if: steps.check_process.outputs.exists != 'true'
        run: |
          # Extract the robot ID from the output JSON
          ROBOT_ID=$(echo "$ROBOT_CREATION_OUTPUT" | jq -r '.identity')
          echo "name=robot_id::$ROBOT_ID" >> $GITHUB_OUTPUT
        continue-on-error: true

      - name: Run Robocloud Process
        env:
          ROBOCLOUD_API_KEY: API_KEY_FIRST
        run: rcc cloud push -d . -r ${{ secrets.ROBOCORP_ROBOT_ID }} -w ${{ secrets.ROBOCORP_WORKSPACE_ID }}

      
    